li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    padding: 8px;
    background-color: darkgray;
    text-decoration: none;
    text-align: center;
}

nav li a:hover {
  background-color: lightgreen;
}

h2 {
    text-align: left;
}

h1 {
    text-align: center;
}

.team-intro {
    background-color: aquamarine;
    margin-right: 20px;
    margin-left:  20px;
}

.bigPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    text-align: center;
}

.parent {
    display: flex;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-height: 200px;
}